__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
tests/
.pytest_cache
.coverage
htmlcov
*.db
*.db-journal
.env
.venv
venv/
ENV/
app/static/.DS_Store
.DS_Store
*.md
!README.md
!DOCS.md
!CHANGELOG.md
.git
.github
